@import "../fonts.css";

.amazon {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9E4CF;
}

.amazon-container {
    display: flex;
    width: 50%;
    height: 100%;
}