@font-face {
    font-family: 'Major-Mono-Display';
    src: local('Major-Mono-Display'), url(./fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Open-Sans';
    src: local('Open-Sans'), url(./fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: local('Gotham-Bold'), url(./fonts/Gotham/Gotham-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Gotham-Light';
    src: local('Gotham-Light'), url(./fonts/Gotham/Gotham-Light.otf) format('opentype');
}


    