@font-face {
    font-family: 'Gotham-Bold';
    src: local('Gotham-Bold'), url(./fonts/Gotham/Gotham-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Gotham-Light';
    src: local('Gotham-Light'), url(./fonts/Gotham/Gotham-Light.otf) format('opentype');
}


    